package Model.APPS.HTTP_SERVER.v4_0_12.Templates;

import Model.APPS.HTTP_SERVER.v4_0_12.HTTP_SERVER

out.print("""
/**
 * @cond
 ***********************************************************************************************************************
 *
 * Copyright (c) 2015, Infineon Technologies AG
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without modification,are permitted provided that the
 * following conditions are met:
 *
 *   Redistributions of source code must retain the above copyright notice, this list of conditions and the  following
 *   disclaimer.
 *
 *   Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
 *   following disclaimer in the documentation and/or other materials provided with the distribution.
 *
 *   Neither the name of the copyright holders nor the names of its contributors may be used to endorse or promote
 *   products derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES,
 * INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE  FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY,OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT  OF THE
 * USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 * To improve the quality of the software, users are encouraged to share modifications, enhancements or bug fixes
 * with Infineon Technologies AG (dave@infineon.com).
 ***********************************************************************************************************************
 *
 * Change History
 * --------------
 *
 * 2016-03-02:
 *     - Initial version for DAVEv4.
 *
 * @endcond
 *
 */
#ifndef HTTP_SERVER_CONF_H
#define HTTP_SERVER_CONF_H
/***********************************************************************************************************************
 * HEADER FILES
 **********************************************************************************************************************/

""")
out.print("""
#define HTTP_SERVER_MAJOR_VERSION (${(HTTP_SERVER.version).findAll( /\d+/ )*.toInteger()[0]}U)
#define HTTP_SERVER_MINOR_VERSION (${(HTTP_SERVER.version).findAll( /\d+/ )*.toInteger()[1]}U)
#define HTTP_SERVER_PATCH_VERSION (${(HTTP_SERVER.version).findAll( /\d+/ )*.toInteger()[2]}U)

""")
Map timer_thread_priority = [
	"Idle (lowest)":"osPriorityIdle",
	"Low" : "osPriorityLow",
	"Below Normal": "osPriorityBelowNormal",
	"Normal": "osPriorityNormal",
	"Above Normal": "osPriorityAboveNormal",
	"High": "osPriorityHigh",
	"Realtime (highest)": "osPriorityRealtime"]
for(HTTP_SERVER http_server_inst : appInstancesList)
{
	if(http_server_inst.appres_lwip.getVal(["gcheck_rtos_en","value"]))
	{
		out.print("""
#define HTTP_SERVER_THREAD_PRIORITY   (${timer_thread_priority.get(http_server_inst.gcombo_http_th_pr.value)})
#define HTTP_SERVER_THREAD_STACK      (${http_server_inst.ginteger_http_th_stksz.value})
#define HTTP_SERVER_SESSION_COUNT     (${http_server_inst.ginteger_http_thr_cnt.value})
""")
	}
	if(http_server_inst.gcheck_post_en.value)
	{
		out.print("""
#define HTTP_SERVER_POST_HDR_SIZE     (256)
#define HTTP_SERVER_POST_URI_SIZE     (256)
#define HTTP_SERVER_POST_BUFFER_SIZE  (${http_server_inst.ginteger_post_buf.value})
""")
	}
	out.print("""
#define HTTP_SERVER_ETH_LWIP          (${http_server_inst.appres_lwip.getInstanceLabel()})
""")
	if(http_server_inst.gcheck_fatfs_en.value)
	{
		out.print("""
#define HTTP_FATFS_DRIVE              "${http_server_inst.gcombo_drive.value}:"
/*HTTP FATFS file name max length*/
#define HTTP_FILE_NAME_SIZE           (256)
""")
	}
	if(http_server_inst.gcheck_send_ssi_tag.value == false)
	{
		out.print("""
/* Set this to 0 to avoid sending the SSI tag */
#define LWIP_HTTPD_SSI_INCLUDE_TAG    0
""")
	}
}
out.print("""
#endif /*HTTP_SERVER_CONF_H*/""")